.signupform {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  font-size: 16px;
  max-width: 25rem;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    .formgroup {
      margin-bottom: 1.5rem;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      input {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #777;
        background-color: #444;
        color: #fff;
        width: 100%;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #fff;
        }
      }
    }

    button {
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  @media screen and (max-width: 37.5em) {
    form {
      width: 100%;
    }
  }
}
