.container {
  background-color: #292929;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.welcome {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  .welcome_text {
    color: white;
    font-size: 3rem;
    font-style: poppins;
    flex: 2;
  }
  .welcome_description {
    color: white;
    font-size: 1.5rem;
    font-style: poppins;
    flex: 6;
    margin-top: 3rem;
    width: 60%;
    padding-bottom: 2rem;
    @media (max-width: 768px) {
      width: 95%;
    }
  }
  .buttons_search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
    .button {
      width: 11.12%;
      cursor: pointer;
      background-color: #000000;
      color: white;
      margin-right: 2rem;
      padding: 1.2rem;
      @media (max-width: 768px) {
        width: 30%;
      }
    }
    .input {
      width: 25.5%;
      padding: 1.2rem;
      border-radius: 12px;
      color: black;
      font-size: larger;
      padding-left: 1.5rem;
      position: relative;
      @media (max-width: 768px) {
        width: 50%;
      }
    }
    .cross {
      position: absolute;
      left: 35%;
      cursor: pointer;
      z-index: 2;
      @media (max-width: 768px) {
        left: 74%;
      }
    }
  }
}
